[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
pandas = "*"
numpy = "*"
cosine-similarity = "*"
requests = "*"
boto3 = "*"
django-storages = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
