
.home-screen {
    width:100vw;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../static/image/home-bg.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid goldenrod;
}

.nav {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.recommend-btn-area {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.LOL-logo {
    width: 4vw;
    height: 80%;
    margin-left: 2vw;
    background: url("../static/image/LOL-animated.gif");
    background-size: cover;
}

.recommend-start {
    width: 10vw;
    height: 70%;
    position: relative;
    left: -0.4vw;
    background: url("../static/image/recommend-start.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.recommend-start p{
    position: relative;
    top: 0.8vh;
    left: -0.3vw;
}

.recommend-start:hover {
    width: 10vw;
    height: 70%;
    background: url("../static/image/recommend-start-hover.gif");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#start-button {
    background: none;
    border: none;
    color: floralwhite;
    font-weight: bold;
}

.LOL-title-logo {
    width: 10vw;
    height: 100%;
    background: url("../static/image/LOL-title-logo.png");
    background-size: cover;
    background-position: center;
    position: relative;
    left: -3vw;
}

.profile-area {
    width: 18%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), transparent;
    display: flex;
    align-items: center;
}

#profile-icon {
    width: 3.2vw;
    height: 6vh;
    margin-left: 1vw;
    border: 2px solid goldenrod;
    border-radius: 100%;
    overflow: hidden;
}

#profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-desc {
    width: 8vw;
    height: 4vh;
    margin-left: 1vw;
    color: floralwhite;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

#logout {
    margin: auto;
    text-decoration: none;
    color: rgb(205, 190, 145);
    font-weight: bold;
}

.contents-container {
    width: 100%;
    height: 90%;
    display: flex;
}

.contents-area {
    width: 82%;
    height: 100%;
}

.contents {
    display: flex;
    align-items: center;
}

.recommend-text {
    margin: 2vh auto auto 2.4vw;
    font-size: 1.5rem;
    color: rgb(205, 190, 145);
}

.recommend-container {
    width: 44.2vw;
    height: 30vh;
    margin: 2vh 2.4vw;
    background: url("../static/image/recommend-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

#rcm1 {
    flex: 1;
}

#rcm1 .rcm-header {
    width: 70%;
    height: 20%;
    padding: 5%;
    display: flex;
    margin: auto;
    position: relative;
    left: 0.8rem;
    align-items: center;
}

#rcm2 .rcm-header {
    width: 70%;
    height: 20%;
    padding: 5%;
    display: flex;
    margin: auto;
    position: relative;
    left: -0.6rem;
    align-items: center;
}

#rcm3 .rcm-header {
    width: 70%;
    height: 20%;
    padding: 5%;
    display: flex;
    margin: auto;
    position: relative;
    left: 0.2rem;
    align-items: center;
}

#rcm4 .rcm-header {
    width: 70%;
    height: 20%;
    padding: 5%;
    display: flex;
    margin: auto;
    position: relative;
    left: 0.6rem;
    align-items: center;
}

#rcm5 .rcm-header {
    width: 70%;
    height: 20%;
    padding: 5%;
    display: flex;
    margin: auto;
    position: relative;
    left: 0.3rem;
    align-items: center;
}

.rcm-img {
    position: relative;
    left: -0.5vw;
    width: 30%;
    height: 80%;
}

.rcm-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rcm-text {
    position: relative;
    left: -0.5vw;
    width: 70%;
    height: 80%;
    margin-left: 0.3rem;
    font-size: 1.2rem;
    color: lightgoldenrodyellow;
}

.rcm-champion-img {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.champion-img-container {
    width: 40%;
    height: 100%;
    border: 2px solid goldenrod;
    border-radius: 100%;
    overflow: hidden;
}

.champion-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.champion-name {
    width: 100%;
    height: 12%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
}

.champion-win-rate {
    width: 100%;
    height: 8%;
    display: flex;
    font-weight: lighter;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
}

.champion-pick-rate {
    width: 100%;
    height: 8%;
    display: flex;
    font-weight: lighter;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
}

.counter-champion-text {
    width: 100%;
    height: 8%;
    margin-top: 0.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgoldenrodyellow;
}

.counter-champion-img-box {
    width: 6vw;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-area {
    width: 36%;
    height: 30vh;
    position: relative;
    top: -0.5rem;
}

.video-text {
    position: relative;
    top: -1.2rem;
    font-size: 1.5rem;
    color: rgb(205, 190, 145);
}

.video-area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#unmutePlayerButton {
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    overflow: hidden;
    background: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10.4rem;
    right: 24rem;
    cursor: pointer;
}

#mutePlayerButton {
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    overflow: hidden;
    background: black;
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10.4rem;
    right: 24rem;
    cursor: pointer;
}

#player2 {
    display: none;
}

#player3 {
    display: none;
}

#player4 {
    display: none;
}


.stats-recommend-text {
    margin: 2vh auto 1vh 2.4vw;
    font-size: 1.5rem;
    color: rgb(205, 190, 145);
}

.stats-recommend-text2 {
    margin: 1vh auto;
    font-size: 1.5rem;
    color: rgb(205, 190, 145);
    display:flex;
}

.stats-recommend-text2 div {
    margin-left: 2.4vw;
}

#jungle-lane {
    margin-left: 14vw;
}

#mid-lane {
    margin-left: 12.2vw;
}

#bottom-lane {
    margin-left: 13.7vw;
}

#support-lane {
    margin-left: 11.8vw;
}

.stats-recommend-container {
    margin-left: 2.4vw;
    display: flex;
    justify-content: center;
}

.stats-box {
    width: 16vw;
    height: 36vh;
    background: url("../static/image/rank-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.stats-rank-wrap {
    width: 90%;
    height: 18%;
    margin-top: 0.6vh;
    display: flex;
    align-items: center;
}

.stats-rank {
    width: 2vw;
    height: 2vh;
    margin: 1vh 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(205, 190, 145);
    font-weight: bold;
}

.stats-rank-img {
    width: 2vw;
    height: 4vh;
    border: 1px solid goldenrod;
    border-radius: 100%;
    overflow: hidden;
}

.stats-rank-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stats-rank-desc {
    width: 10vw;
    margin-left: 0.2vw;
    font-size: 0.6vw;
    color: rgb(205, 190, 145);
}


.community {
    width: 18%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), transparent;
}

.community-nav {
    width:100%;
    height: 5%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
}

.community-text {
    width:30%;
    height: 100%;
    margin: 1vh 1vw;
    color: rgb(205, 190, 145);
    font-weight: bold;
}

.community-icons {
    width: 10%;
    height: 100%;
    margin: 1.2vh 1vw;
    display: flex;
    justify-content: space-around;
}

.material-icons-outlined {
    margin-left: 0.2vw;
    color: rgb(205, 190, 145);
    cursor: pointer;
}

.friend-container {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#friend-icon {
    width: 3vw;
    height: 6vh;
    overflow: hidden;
    border: 1.5px solid goldenrod;
    border-radius: 100%;
    display: flex;
    justify-content: center;

}

#friend-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-body {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-text{
    width: 10vw;
    margin-left: 1vw;
    color: floralwhite;
}

.card-name{
    margin:auto;
    font-size: 0.8rem;
    opacity: 0.5;
}
.card-nick{
    margin:auto;
    font-size: 1.3rem;
    font-weight: bold;

}
.card-link {
    margin-left: 0.2vw;
    width: 1vw;
}